body {
    margin: 0;
    text-align: center;
    background-color: blanchedalmond;
    font-family: Georgia;
}

h1 {
    color: darkolivegreen;
    font-size: 48px;
}

h2 {
    color: brown;
}

li {
    color: slategray
}

.columns {
    display: flex;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px auto;
    /*border: 3px solid hotpink;*/
    width: 40%;
}

.column {
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    border: 3px solid black;
}

.navigation-bar {
    border: slategray solid 2px;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
}

a.one:link {color: #ff0000;}
a.one:visited {color: #0000ff;}
a.one:hover {color: #ffcc00;}

a.two:link {
    color: slategray;
    text-decoration: none;
}
a.two:visited {
    color: slategray;
    text-decoration: none;
}
a.two:hover {
    color: #ffcc00;
    text-decoration: none;
}