body {
    margin: 0;
    text-align: center;
    background-color: blanchedalmond;
}

h1 {
    color: darkolivegreen;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: brown;
}

li {
    color: slategray
}

/* unvisited link */
a:link {
    color: slategray;
}
  
/* visited link */
a:visited {
    color: darkolivegreen;
}
  
/* mouse over link */
a:hover {
    color: hotpink;
}
  
/* selected link */
a:active {
    color: blue;
}

.columns {
    display: flex;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px auto;
    /*border: 3px solid hotpink;*/
    width: 40%;
}

.column {
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    border: 3px solid black;
}

.navigation-bar {
    border: slategray solid 2px;
    width: 100%;
    margin: 0 auto;
}
